<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card image generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<section id="mainSection">
  <h1>Генератор изображений банковских карт</h1>
  <input type="checkbox" id="description">
  <span>
  Основное предназначение таких изображений - облегчение переводов физическим лицам по номеру карты из банковских приложений.<br>
  В банковских приложениях сейчас доступно несколько вариантов переводов физическим лицам:
  <ul>
    <li>по номеру счёта (<i>долго, легко ошибиться. В большинстве случаев при переводе между физ.лицами не используется из-за большего времени перечисления средств и необходимости заполнения реквизитов</i>);</li>
    <li>по номеру телефона (<i>быстро, сложно ошибиться. Удобный способ, но отправителю необходимо знать номер телефона получателя, что не всегда приемлемо</i>);</li>
    <li>по QR-коду (<i>быстро, почти невозможно ошибиться. Удобный способ, но, увы, доступный далеко не во всех приложениях</i>);</li>
    <li>по номеру карты:</li>
    <ul>
      <li>ввод вручную (<i>долго, легко ошибиться</i>);</li>
      <li>считывание с помощью NFC (<i>быстро, почти невозможно ошибиться. Необходима карта получателя. Доступно не во всех приложениях</i>);</li>
      <li>сканирование с помощью камеры (<i>быстро, почти невозможно ошибиться. Необходима карта или изображение карты</i>).</li>
    </ul>
  </ul>
  Последний из перечисленных способов поддерживается приложениями крупнейших банков, но при сканировании карты могут возникнуть сложности: чаще всего если номер трудночитаем (краска на цифрах стирается при длительном пользовании картой). На лицевой стороне также нанесён срок действия, раскрытие которого нежелательно.<br>
  Генератор размещает номер карты на одноцветной подложке в пропорциях настоящей карты. Полученные изображения могут быть распечатаны или отсканированы прямо с экрана.
  </span>
  <label for="description">описание</label>
  <form>
    <div class="wide">
      <label for="cardNumber">Номер карты (16 цифр):</label>
      <input id="cardNumber" v-model="cardNumber" v-on:input="drawText" maxlength="16"/>
    </div>
    <div>
      <label for="numberColor">Цвет:</label>
      <input id="numberColor" type="color" name="number" v-model.lazy="colors.number" v-on:input="event => { colorChanged(event); }">
    </div>
    <div class="wide">
      <label for="cardHolderName">Имя держателя:</label>
      <input id="cardHolderName" v-model="cardHolderName" v-on:input="drawText" maxlength="20"/>
    </div>
    <div>
      <label for="holderColor">Цвет:</label>
      <input id="holderColor" type="color" name="holder" v-model.lazy="colors.holder" v-on:input="event => { colorChanged(event); }">
    </div>
    <div>
      <label for="cardColor">Цвет фона:</label>
      <input id="cardColor" type="color" name="card" v-model.lazy="colors.card" v-on:input="event => { colorChanged(event); }">
    </div>
  </form>
  <canvas id="cardImage" width="856" height="540" :download="imageName"></canvas>
  <a v-if="linkAvailable" :download="imageName" :key="cardNumber+cardHolderName" :href="imageLink()">Сохранить</a>
</section>
<script src="scripts/common.js"></script>
</body>
</html>