html, body, div, span,
h1, a, ul, li,
form, label, canvas, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
	font-size: 14;
	min-width: 245pt;
}
#mainSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 700pt;
  margin: 0 auto;
  padding: 10pt;
  background-color: #e9e9e9;
}
span {
  text-indent: 10pt;
  text-align: justify;
  display: block;
  margin: 0 0 10pt;
}
form {
  margin: 0 auto;
  width: 100%;
  max-width: 300pt;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5pt 10pt;
}
div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.wide {
  grid-column: span 2;
}
div > label {
  text-indent: 5pt;
  font-size: 90%;
}
input {
  font-size: 110%;
	text-transform: uppercase;
}
#cardImage {
  width: 100%;
  max-width: 300pt;
  margin: 10pt auto;
}

a {
  display: flex;
  max-width: 200pt;
  background-color: #b8b8b8;
  border-radius: 5pt;
  font-size: 110%;
  padding: 5pt 10pt;
  margin: 0 auto;
  font-weight: bold;
  font-family: system-ui;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover,
a:active {
  background-color: #FFFFFF;
}

ol, ul {
	list-style: none;
}
