@font-face {
    font-family: 'Credit Card';
    src: local('Credit Card'),
    	url('CREDC___.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
html, body, div, span, h1, h2, p,
a, img, ul, li, form, label, canvas, footer, header,
menu, nav, section, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	font-family: Roboto;
	font-size: 14pt;
}
input {
	text-transform: uppercase;
}
#cardImage {
	width: 300pt;
	font-family: Credit Card;
	padding: 5pt;
    border: 1pt solid #000000;
    border-radius: 3pt;
}